<body>
    <input type="hidden" value="{{receiver_id._id}}" id="receiver_id">
    <input type="hidden" id="sender_id" value="{{sender._id}}">
    <input type="hidden" id="name-sender" class="name-input" value="{{sender.name}}">

    <div class="main">
        <div class="name">
            <img src="{{receiver_id.avatar}}" alt="avatar of {{receiver_id.name}}" id="avartarChat">
            <input type="text" id="name-input" class="name-input" value="{{receiver_id.name}}" maxlength="20">
        </div>
        <ul class="message-container" id="message-container">

            {{#each messages}}

            <p class="message">
                <li class="{{#if isOwnMessage}}message-right{{else}}message-left{{/if}}">
                    <p class="message">
                        {{this.message}}
                        <span>{{this.timestamp}}</span>
                    </p>
                </li>
            </p>
            {{/each}}

        </ul>
        <form action="" class="message-form" id="message-form">
            <input type="text" name="message" id="message-input" class="message-input">
            <div class="v-divider"></div>
            <button type="submit" class="send-button">
                send <span></span>
            </button>
        </form>
    </div>
    <br>
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.30.1/moment.min.js" crossorigin="anonymous"
        referrerpolicy="no-referrer"></script>
    <script>

        const socket = io();
        const receiverId = document.getElementById('receiver_id').value;
        const senderId = document.getElementById('sender_id').value;

        const clientsTotal = document.getElementById('client-total');
        const messageContainer = document.getElementById('message-container');
        const nameSender = document.getElementById('name-sender');
        const messageForm = document.getElementById('message-form');
        const messageInput = document.getElementById('message-input');
        scrollBottom();

        // Khi người dùng đăng nhập, phát sự kiện 'login' với user_id

        socket.emit('chat', senderId);

        messageForm.addEventListener('submit', (e) => {
            e.preventDefault();
            sendMessage();

        })
        socket.on('clients-total', (data) => {

            clientsTotal.innerText = `Online Client Total: ${data}`

        })

        function sendMessage() {
            const data = {
                name: nameSender.value,
                message: messageInput.value,
                receiver_id: receiverId,
                sender_id: senderId,

            }
            socket.emit('message', data)
            addMessageToUI(true, data);
            messageInput.value = '';


        }


        socket.on('receiveMessage', (data) => { // nhan tin nhan tu nguoi dung khac

            if (data.receiver_id === senderId && data.sender_id === receiverId) {
                addMessageToUI(false, data)

            }
            else {
                console.log('k dc nhan tin nhan:', data.receiver_id)
            }
        })

        function addMessageToUI(isOwnMessage, data) {
            const element = `
            <li class="${isOwnMessage ? "message-right" : "message-left"}">
                <p class="message">
                    ${data.message}
                    <span>${data.name} : ${moment(data.dateTime).fromNow()}</span>
                </p>
            </li>`;

            messageContainer.innerHTML += element;
            scrollBottom();
        }
        function scrollBottom() {
            messageContainer.scrollTo(0, messageContainer.scrollHeight)
        }


    </script>
</body>